/*   ШРИФТЫ   */

body {
  font-family: 'Open Sans Light', sans-serif;
}
/*   ТЕКСТ   */

h1 {
  font-size: 30px;
  font-family: 'Open Sans Regular', sans-serif;
  text-align: center;
}

h3,p,button {
  font-size: 18px;
  font-family: 'Open Sans Light', sans-serif;
}

p {
  font-family: 'Open Sans Light', sans-serif;
  font-size: 18px;
}

a {
  color: white;
}

a:hover {
  color: white;
  text-decoration: none;
}

/*   ИНПУТЫ   */

button {
  border-radius: 30px;
  outline:0 none !important;
  border: 1px;
}

ul {
  list-style: none;
  font-family: 'Open Sans Light', sans-serif; ;
}

li {
  display: inline-block;
}

a:focus {
  color: white;
  text-decoration: none;
}

.header {
  background: url(img/header_bg.png) no-repeat;
  background-position: center;
  max-width: 100%;
  height: 730px;
}

@media (max-width: 767px) and (max-width: 970px) {
  .header {height: 580px;}
}

.menu {
  margin-top: 24px;
}

.menu__logo {
  color: white;
  font-size: 18px;
}

@media (max-width: 767px) and (max-width: 970px) {
  .menu__logo {
    text-align: center;
  }
}

.menu__logo img {
  padding: 0px 8px;
}

.menu li {
  color: white;
  padding-left: 46px;
}

@media (max-width: 767px) and (max-width: 970px) {
  .menu li {display: none;}
}

.orderinfo h1,h3 {
  text-align: left;
}


button.menu__button {
  padding: 4px 14px;
  border: 1px solid white;
  font-size: 14px;
  text-transform: uppercase;
}

button.menu__button:hover {
  background-color: #2e94b9;
  border: 1px solid #2e84b9;
}

.advantages {
  box-shadow: inset 10px 10px 23px -19px rgba(0,0,0,0.49);
}

.advantages h3,p, .order h3,p, .flattern h3 {
  text-align: center;
  color: #475053;
}

.advantages h3,.order h3 {
  font-family: 'Open Sans Regular', sans-serif;
}

.advantages h1,.order h1 {
  color: #475053;
  padding: 80px 0px 76px;
}

.advantages__info,.order__info {
  padding-bottom: 90px;
}

@media (max-width: 767px) {
      .advantages__info,.order__info {padding-bottom: 40px;}
}

.order {
  box-shadow: inset 10px 10px 23px -19px rgba(0,0,0,0.49);
}

.order h3,p {
  text-align: center;
}

.orderinfo {
  color: white;
  padding-left: 40px;
  padding-top: 160px;
}

@media (max-width: 767px) and (max-width: 970px) {
  .orderinfo {padding-top: 100px;}
}

.orderinfo h3 {
  padding-top: 8px;
  padding-bottom: 16px;
}


button.orderinfo__button, .menu__button {
  border: 2px solid #2e94b9;
  color: white;
  padding: 10px 30px;
  background: url(img/t.png) no-repeat left 50%;
  background-size:0% 100%;
  transition: 0.5s;
}

button.orderinfo__button:hover,button.forms__button:hover {
  background-size:100% 100%;
  transition: 0.5s;
}

.order {
  background-color: #ebf3f7;
}

.product {
  background: url(img/console_bg.png);
  padding-bottom: 80px;
}

.product__text {
  margin-top: 90px;
}

@media (max-width: 767px) and (max-width: 970px) {
  .product__text {
    margin-top: 45px;
  }
}

.product__text h3 {
  text-align: center;
}

.product__console {
  width: 350px;
  height: 390px;
  border-left: 1px solid #AED3E1;
  border-top: 1px solid #AED3E1;
  background: #fff linear-gradient(-189deg, #F0FBFF 0, #F0FBFF 300px,#ecf0f1 308px, transparent 200px, transparent);
  padding-right: 0px;
  margin-left: 30px;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 400px) and (max-width: 1170px){
    .product__console {margin-left: 0px; width: auto;}
}


.product__img {
  float: right;
  padding-top: 36px;
  transition: 1s;
}

.product__console h3 {
  text-align: left;
  transition: 1s;
}

.product__console p {
  line-height: 12px;
}

.product__console h1 {
  color: #2e94b9;
  padding-right: 15px;
}


.product__console p {
  text-align: left;
}

button.product__button,button.forms__button {
  background-color: #2e94b9;
  color: white;
  padding: 10px 30px;
  box-shadow: -2px -1px 20px 0px rgba(0,0,0,0.30);
  margin: 22px;
}

@media (min-width: 400px) and (max-width: 970px) {
  button.product__button {
    margin: 22px;
  }
}

.button {
  color: #2e94b9;
}

.product__cost {
  font-size: 18px;
  color: #2e94b9;
  display: inline-block;
  padding: inherit;
}

.product__cost:before {
  content: "Цены";
}

.product__cost.myclass:before{
    content:"Назад";
}

.info__p, .info__cost {
  width: 200px;
  height: 200px;
  position: absolute;
  transition: all .5s ease;
}

.info__p {
  z-index: 2;
}

.info__p a {
  color: #475053;
}

.infop {
  margin: 6px 0px 22px 0px;
}

.info__p.active {
  margin-left: -200px;
}

.info__cost {
  z-index: 0;
  margin-left: -300px;
}
.info__cost.active {
  margin-left: 6px;
}

.info__cost ul {
  padding: 4px 4px 4px 4px;
}

.product__info {
  padding: 24px;
  transition: 1s;
}

.info__p {
  padding-top: 12px;
}

.parent_toggled .product__info {
  opacity: 0;
}

.glyphicon {
  color: #337ab7;
  padding: 14px 17px;
  margin-top: 56px;
  border: 1px solid #429ec0;
  border-radius: 100px;
}

@media (max-width: 767px) and (max-width: 970px) {
  .glyphicon {
    border: none;
  }
}

.forms input {
  display: block;
}

.forms a {
  color: #2e94b9;
}

.line {
  width: 50%;
  margin: auto;
  margin-top: 26px;
  margin-bottom: 76px;
  background-color: #e6e6e6;
  height: 1px;
}

.item h3 {
  font-family: 'Open Sans Regular', sans-serif;
}

.reviews a {
  color: #2e94b9;
}

.reviews h1 {
  margin-bottom: 80px;
}

.slider__img {
  margin: 16px 0px 0px 180px;
}

@media (max-width: 767px) and (max-width: 970px) {
  .slider__img {margin: 0 auto;}
}

.item h3,.item p,.item a {
  text-align: left;
}

@media (max-width: 767px) and (max-width: 970px){
  .item h3,.item p,.item a {text-align: center; font-size: 14px;}
}

@media (max-width: 767px) and (max-width: 970px) {
  .item a {display: none;}
}

.forms {
  margin-top: 62px;
  background: url(img/forms_bg.png);
}

@media (max-width: 767px) and (max-width: 970px) {
  .forms{
    background: url(img/forms_bg2.png);
  }
}

.forms h1 {
  color: white;
  padding-top: 60px;
  padding-bottom: 54px;
}

@media (max-width: 767px) and (max-width: 970px) {
  .forms h1 {padding-top: 30px; padding-bottom: 22px;}
}

.forms__text p {
  text-align: left;
  color: white;
  padding-bottom: 16px;
}

input[type=text] {
  border: none;
  border-bottom: 1px solid white;
  background: none;
  font-size: 18px;
  margin-bottom: 32px;
  outline: none;
  color: white;
  width: 280px;
}

@media (max-width: 767px) and (max-width: 970px) {
  input[type=text] {font-size: 14px; width: 270px;}
}

input[type=text]:focus {
  border: none;
  border-bottom: 1px solid #2e94b9;
}

.forms__info {
  background: rgba(255,255,255,0.15);
  height: 426px;
  padding-top: 64px;
  margin-bottom: 56px;
  border-radius: 5px;
}

@media (max-width: 767px) and (max-width: 970px) {
  .forms__info {
    background: none;
  }
}

@media (max-width: 767px) and (max-width: 970px) {
  .forms__info p {
    font-size: 14px;
  }
}

@media (max-width: 767px) and (max-width: 970px) {
  .forms__info {height: 586px; padding-top: 12px;}
}

button.forms__button {
  background: none;
  border: 1px solid #2e94b9;
  box-shadow: none;
  margin: 22px 0px 0px 0px;
  background: url(img/t.png) no-repeat left 50%;
  background-size:0% 100%;
  transition: 0.5s;
}

.contacts {
  background-color: #ebf3f7;
  margin-top: 34px;
}

.contacts__info h3,.contacts__info p {
  text-align: left;
  color: #475053;
}

.contacts__info h3 {
  font-family: 'Open Sans Regular', sans-serif;
  padding-top: 12px;
}

.contacts__info {
  padding-top: 46px;
  box-shadow: 2px 3px 36px -21px rgba(0,0,0,0.52);
}

.contacts_info {
  padding-left: 80px;
}

@media (max-width: 767px) and (max-width: 970px) {
  .contacts_info {
    padding-left: 0;
  }
}

.social {
  padding-top: 46px;
  padding-bottom: 23px;
}

::-webkit-input-placeholder {
   color: white;
   opacity: 0.5;
}

.sc {
  display: inline-block;
  margin-right: 12px;
}

@media (max-width: 767px) and (max-width: 970px) {
  .sc {margin-right: 12px;}
}

.fa {
  padding: 16px;
  border-radius: 100%;
  background-color: #c5e0eb;
  text-align: center;
}

.social i {
  color: #2e94b9;
  font-size: 24px;
}

.contacts__maps {
  padding-right: 0px;
  padding-left: 0px;
  height: auto;
}

.contacts_h1 {
  margin: 80px 0px 80px 0px;
}

.flattern {
  background: #acdcee;
  margin-top: 68px;
}

.flattern h3 {
  padding: 12px 0px 12px 0px;
}
