/*   ШРИФТЫ   */

body {
  font-family: 'Open Sans Light', sans-serif;
}
/*   ТЕКСТ   */

h1 {
  font-size: 30px;
  font-family: 'Open Sans Regular', sans-serif;
  text-align: center;
}

h3,p,button {
  font-size: 18px;
  font-family: 'Open Sans Light', sans-serif;
}

p {
  font-family: 'Open Sans Light', sans-serif;
  font-size: 18px;
}

a {
  color: white;
}

a:hover {
  color: white;
  text-decoration: none;
}

/*   ИНПУТЫ   */

button {
  border-radius: 30px;
  outline:0 none !important;
  border: 1px;
}

ul {
  list-style: none;
  font-family: 'Open Sans Light', sans-serif; ;
}

li {
  display: inline-block;
}

a:focus {
  color: white;
  text-decoration: none;
}

.header {
  background: url(img/header_bg.png) no-repeat;
  background-position: center;
  max-width: 100%;
  height: 730px;
}

.menu {
  margin-top: 24px;
}

.menu__logo {
  color: white;
  font-size: 18px;
}

.menu__logo img {
  padding: 0px 8px;
}

.menu li {
  color: white;
  padding-left: 46px;
}

.orderinfo h1,h3 {
  text-align: left;
}

button.menu__button {
  padding: 4px 14px;
  border: 1px solid white;
  font-size: 14px;
  text-transform: uppercase;
}

.advantages h3,p, .order h3,p   {
  text-align: center;
  color: #475053;
}

.advantages h3,.order h3 {
  font-family: 'Open Sans Regular', sans-serif;
}

.advantages h1,.order h1 {
  color: #475053;
  padding: 80px 0px 76px;
}

.advantages__info,.order__info {
  padding-bottom: 90px;
}

@media (max-width: 767px) {
            .advantages__info,.order__info {padding-bottom: 40px;}
}

.order {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.04);
}

.order h3,p {
  text-align: center;
}

.orderinfo {
  color: white;
  padding-left: 40px;
  padding-top: 160px;
}

.orderinfo h3 {
  padding-top: 8px;
  padding-bottom: 16px;
}

button.orderinfo__button, .menu__button {
  border: 2px solid #2e94b9;
  color: white;
  padding: 10px 30px;
  background: url(img/t.png) no-repeat left 50%;
  background-size:0% 100%;
  transition: 0.5s;
}

button.orderinfo__button:hover {
  background-size:100% 100%;
  transition: 0.5s;
}

.order {
  background-color: #ebf3f7;
}

.product {
  background: url(img/console_bg.png);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  padding-bottom: 80px;
}

.product__text {
  margin-top: 90px;
}

.product__text h3 {
  text-align: center;
}

.product_console {
  margin-top: 30px;
}

.product__console {
  width: 350px;
  height: 390px;
  border-left: 1px solid #AED3E1;
  border-top: 1px solid #AED3E1;
  background: #fff linear-gradient(-189deg, #F0FBFF 0, #F0FBFF 300px,#ecf0f1 308px, transparent 200px, transparent);
  padding-right: 0px;
  margin-left: 30px;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 767px) {
            .product__console {width: 100%; margin-left: 0px;}
}

@media (max-width: 970px) {
            .product__console {width: 100%; margin-left: 0px;}
}


.product__img {
  float: right;
  padding-top: 36px;
  transition: 1s;
}

.product__console h3 {
  text-align: left;
  transition: 1s;
}

.product__console p {
  line-height: 12px;
}

.product__console h1 {
  color: #2e94b9;
}

.product__console p {
  text-align: left;
}

button.product__button,button.forms__button {
  background-color: #2e94b9;
  color: white;
  padding: 10px 30px;
  box-shadow: -2px -1px 20px 0px rgba(0,0,0,0.30);
  margin: 22px;
}

.button {
  color: #2e94b9;
}

.product__cost {
  font-size: 18px;
  color: #2e94b9;
  display: inline-block;
  padding-left: 12px;
}

.info__p, .info__cost {
  width: 200px;
  height: 200px;
  position: absolute;
  transition: all .5s ease;
}

.info__p {
  z-index: 2;
}

.infop {
  margin: 6px 0px 22px 0px;
}

.info__p.active {
  margin-left: -200px;
}

.info__cost {
  z-index: 0;
  margin-top: -300px;
}
.info__cost.active {
  margin-top: 1px;
}

.info__cost ul {
  padding: 4px 4px 4px 4px;
}

.product__info {
  padding: 24px;
  transition: 1s;
}

.info__p {
  padding-top: 12px;
}

.parent_toggled .product__info {
  opacity: 0;
}

.glyphicon {
  color: #337ab7;
}

.forms input {
  display: block;
}

.forms a {
  text-decoration: none;
  border-bottom: 1px dashed white;
}

.item h3 {
  font-family: 'Open Sans Regular', sans-serif;
}

.reviews a {
  color: #2e94b9;
}

.reviews h1 {
  margin-bottom: 80px;
}

.slider__img {
  margin: 16px 0px 0px 180px;
}

@media (max-width: 767px) and (max-width: 970px) {
  .slider__img {margin: 0 auto;}
}

.item h3,.item p,.item a {
  text-align: left;
}

@media (max-width: 767px) and (max-width: 970px){
  .item h3,.item p,.item a {text-align: center; font-size: 14px;}
}

.forms {
  margin-top: 62px;
  background: url(img/forms_bg.png);
}

.forms h1 {
  color: white;
  padding-top: 60px;
  padding-bottom: 54px;
}

.forms__text p {
  text-align: left;
  color: white;
  padding-bottom: 16px;
}

input[type=text] {
  border: none;
  border-bottom: 1px solid white;
  background: none;
  font-size: 18px;
  margin-bottom: 32px;
  outline: none;
  color: white;
  width: 280px;
}

input[type=text]:focus {
  border: none;
  border-bottom: 1px solid #2e94b9;
}

.forms__info {
  background: rgba(0,0,0,0.15);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.75);
  height: 426px;
  padding-top: 64px;
}

button.forms__button {
  background: none;
  border: 1px solid #2e94b9;
  box-shadow: none;
}

/*eee*/

body { overflow-x: hidden; }

.navbar, .navbar-inverse {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
}

.nav li {
	display: inline;
	color: white;
}

.navbar-inverse .navbar-nav > li > a {
	color: #ffffff;
	font-family: Lato;
	font-size: 1.7em;
	font-weight: 300;
}

.navbar-inverse .navbar-nav li a:hover {
	transition: 0.7s all linear;
	height: 100%;
}
